@import (reference) "~bootstrap/less/bootstrap";

.Machine {
  .clearfix();
  display: inline-block;
  text-align: left;
  width: 1324px;
  height: 768px;
  &-screen {
    float: left;
    width: 1024px;
    height: 100%;
    border: 2px solid;
    position: relative;
  }
  &-hwPanel {
    float: left;
    width: 300px;
    height: 100%;
    border: 2px solid;
    border-left: 0;
  }
  &-coinsSlot {
    position: relative;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000;
    color: #000;
    height: 30%;
    margin-top: 100px;
    div {
      width: 10px;
      height: 100px;
      background: #000;
      margin-top: 40px;
      margin-left: 70px;
    }
  }
  &-paymentCardSlot {
    position: relative;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000;
    color: #000;
    height: 100px;
    margin-top: 100px;

    div {
      width: 80%;
      height: 10px;
      background: #000;
      margin: 0 auto;
      margin-top: 45px;
    }
  }
  .hint {
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 12px;
  }
}
